Q.1 - What is a database? Differentiate between SQL and NoSQL databases.

Answer -
A database is an organized collection of data, so that it can be easily accessed and managed.
There are many databases available like MySQL, Sybase, Oracle, MongoDB, Informix, PostgreSQL, SQL Server, etc.

Difference between SQL and NoSQL databases-
SQL databases are relational, and NoSQL databases are non-relational. SQL databases use structured query language (SQL) and have a predefined schema. NoSQL databases have dynamic schemas for unstructured data. SQL databases are vertically scalable, while NoSQL databases are horizontally scalable.  A MySQL database is currently more popular in the market than NoSQL because the latter is still fairly new.
In NoSQL databases, data is stored together (not separately, as with SQL). This means that it's faster to perform read or write operations on one data entity compared with SQL databases.

Q.2 - What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Answer - 
A data definition language (DDL) is a computer language used to create and modify the structure of database objects in a database.

#Example of CREATE
#This command is used to create the database or its objects (like table, index, function, views, store procedure, and triggers).
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE Mylist1")
mydb.close()

#Example of DROP
#In SQL, the DROP command is used to remove the whole database or table indexes, data, and more.
DROP TABLE employees;  for drop this command have to use

#Example of ALTER

The ALTER TABLE command adds, deletes, or modifies columns in a table.

The ALTER TABLE command also adds and deletes various constraints in a table.

ALTER TABLE Customers
ADD Email varchar(255);   #The following SQL adds an "Email" column to the "Customers" table:

ALTER TABLE Customers
DROP COLUMN Email;       # The following SQL deletes the "Email" column from the "Customers" table:

#Example of TRUNCATE
#TRUNCATE : This is used to remove all records from a table, including all spaces allocated for the records are removed.
TRUNCATE TABLE table_name;

Q.3 - What is DML? Explain INSERT, UPDATE, and DELETE with an example.

Answer - 
It is the component of the SQL statement that controls access to data and to the database. Basically, DCL statements are grouped with DML statements. List of DML commands: INSERT: It is used to insert data into a table. UPDATE: It is used to update existing data within a table. DELETE: It is used to delete records from a database table.

Q.4 - What is DQL? Explain SELECT with an example.

DQL (Data Query Language)
DQL statements are used for performing queries on the data within schema objects. The purpose of the DQL Command is to get some schema relation based on the query passed to it. We can define DQL as follows it is a component of SQL statement that allows getting data from the database and imposing order upon it. It includes the SELECT statement. This command allows getting the data out of the database to perform operations with it. When a SELECT is fired against a table or tables the result is compiled into a further temporary table, which is displayed or perhaps received by the program i.e. a front-end.

SELECT: It is used to retrieve data from the database.

Q.5 - Explain Primary Key and Foreign Key.

A primary key generally focuses on the uniqueness of the table. It assures the value in the specific column is unique. A foreign key is generally used to build a relationship between the two tables. The table allows only one primary key.

Q.6 - Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("insert into Mylist1.test_table values(123 , 'aleem', 234.52 , 456 , 'kaleem')")
mydb.commit()
mydb.close()

Q.7 - Give the order of execution of SQL clauses in an SQL query.

SELECT DISTINCT column, AGG_FUNC(column_or_expression), â€¦
FROM mytable
    JOIN another_table
      ON mytable.column = another_table.column
    WHERE constraint_expression
    GROUP BY column
    HAVING constraint_expression
    ORDER BY column ASC/DESC
    LIMIT count OFFSET COUNT;